<form [formGroup]="appForm" name="myForm" class="example-form breakpoint">
    <div class="container_inputs" >
        <div class="u" style="display: flex;align-items: center;justify-content: space-between;">
            <mat-form-field (click)="habilitandoInput()" class="example-full-width" appearance="fill" style="width: 30%;">
                <mat-label>Cultura</mat-label>
                <input type="text"
                        placeholder="Digite"
                        aria-label="Cultura"
                        matInput
                        formControlName ='cultura'
                        [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nomeCultura" (click)="buscandoVariedade(option.idCultura)">
                    {{option.nomeCultura}}
                    </mat-option>
                </mat-autocomplete>
<mat-error *ngIf="validar('cultura')">Campo Obrigatório</mat-error>
            </mat-form-field>
            <div class="u" style="width: 70%;display: flex;align-items: center;justify-content: flex-end;">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Variedade</mat-label>
                <input type="text"
                        placeholder="Digite"
                        aria-label="variedade"
                        matInput
                        formControlName ='variedade'
                        [matAutocomplete]="auto2">
                <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                    <mat-option *ngFor="let variedade  of variedades" [value]="variedade.nomeVariedade" (click)="variedadeSelecionada(variedade.idVariedade)">
                    {{variedade.nomeVariedade}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
               <mat-form-field appearance="fill" class="inputFieldMed">
                    <mat-label>Quantidade Enviada (Gramas))</mat-label>
                    <input type="text" matInput name="" autocomplete="off" formControlName ='gramas'>
                    <mat-hint></mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill" class="inputFieldMin">
                    <mat-label>Quantidade Enviada (Unidades)</mat-label>
                    <input  type="text" autocomplete="off" matInput #postalCode
                        maxlength="11" formControlName ='unidade'>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div style="display: flex;align-items: center;flex-wrap: wrap;">
            <div *ngFor="let lacre of lacreList, let i = index">
                <mat-form-field appearance="fill" class="inputFieldMin" style="width: 30%;">
                    <mat-label>Número do Lacre</mat-label>
                    <input [formControl]="lacre.nrLacre" (blur)="verificandoLacre(i)" type="text" autocomplete="off" matInput #postalCode
                        maxlength="11">
                    <mat-hint></mat-hint>
          <mat-error *ngIf="lacre.nrLacre.invalid">Campo Obrigatório</mat-error>
                </mat-form-field>
								<mat-icon (click)="apagarLacre(lacre)"  *ngIf="i == ultimoIndex && i != 0" class="icon">close</mat-icon>
								<mat-icon class="icon" (click)="novoLacre()" *ngIf="i == ultimoIndex">add</mat-icon>
            </div>
        </div>
        <div style="display: block">
            <p style="margin-left:25px">Foi usado algum Agrotóxico?</p>
            <div style="display: flex;align-items: center;">
                <mat-radio-group formControlName="option" aria-label="Selecione uma opção" class="padding-bottom-20" style="width: 50%;margin: 10px 0px 10px 15px;" >
                    <mat-radio-button value="show" class="padding-rigth-10">Sim</mat-radio-button>
                    <mat-radio-button value="none" checked>Não</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
				<div class="u wrapper_agro" *ngFor="let agro of agroList, let i = index">
        <div class="u" *ngIf="isClickedYes == 'show'" style="display: flex;align-items: center;justify-content: space-between;">
            <mat-form-field appearance="fill" style="width: 30%;">
                <mat-label>Qual?</mat-label>
                <input matInput value="" required [formControl]="agro.descricao">
        <!-- <mat-error *ngIf="validar('descricao')">Campo Obrigatório</mat-error>   --> 
            </mat-form-field>
            <div style="width: 70%;display: flex;align-items: center;justify-content: flex-end;">
                <mat-form-field appearance="fill" class="inputFieldMin">
                    <mat-label >
                        Data da Aplicação
                    </mat-label>
                    <input  id="data" required matInput [matDatepicker]="picker2"  [formControl]="agro.dataAplicacao">
                    <mat-datepicker-toggle matSuffix [for]="picker2">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill" class="inputFieldMin">
                    <mat-label>Onde Adquiriu?</mat-label>
                    <input  type="text" name="" id="" matInput placeholder="Ex.0000000"  [formControl]="agro.localAquisicao">
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="u" *ngIf="isClickedYes == 'show'" style="display: flex;align-items:center;justify-content: space-between;">
            <mat-form-field appearance="fill" class="inputFieldMed" style="width: 30%;">
                <mat-label>Quem indicou o Agrotóxico</mat-label>
                <input type="text" name="bair" id="Bairro" matInput placeholder="Ex.Gama" [formControl]="agro.nomeIndicacao">
                <mat-hint></mat-hint>
            </mat-form-field>
								<mat-icon class="icon" (click)="apagarAgro(agro)"  *ngIf="i == ultimoIndexAgro && i != 0">close</mat-icon>
								<mat-icon class="icon" (click)="novoAgro()"*ngIf="i == ultimoIndexAgro" >add</mat-icon>
            <div style="width: 70%;display: flex;align-items: center;justify-content: flex-end;">
            </div>
        </div>
				</div>
        <div>
             <mat-form-field appearance="fill" style="width:100%">
                    <mat-label>Outras informações</mat-label>
                    <textarea matInput formControlName ='obs'></textarea>
             </mat-form-field>
        </div>
    </div>
</form>
    <hr>
    <div style="display: flex; justify-content: flex-end;">
        <button mat-flat-button color="primary" class="button" type="button" style="margin: 20px 0px ;" (click)="storeData()">Salvar</button>
    </div>


