<div [ngClass]="{'dark-theme': isDarkTheme | async}">
  <div class="mat-app-background">
<mat-tab-group>
   <!-- <mat-tab  label="Identificação da Coordenadoria" > 

  


   </mat-tab> 
 -->


  <mat-tab  label="Identificação do Fiscalizado" style="display: flex;justify-content: center;" > 
   <app-fiscalizado style="width: 100%;"></app-fiscalizado>
 </mat-tab>




    <mat-tab label="Descrição da Ação">
      <app-descricaodaacao></app-descricaodaacao>
    </mat-tab>



  <mat-tab label="Descrição do Produto Agrícola">

    <app-produtoagricola></app-produtoagricola>
</mat-tab>



  <mat-tab label="Identificação dos Envolvidos"> 
  <app-envolvidos></app-envolvidos>  
  </mat-tab>



</mat-tab-group>
</div>
</div>