<form [formGroup]="descricaodaacao" (ngSubmit)="onSubmit()" name="myForm" class="example-form">
  <div class="container_inputs">
    <div>
      <mat-form-field appearance="fill" class="inputFieldMin" style="width: 50%;">
        <mat-label required>
          Data
        </mat-label>
        <input formControlName= "data" id="data" required matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2">
        </mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="data?.hasError('required')">necessario preencher</mat-error>
      </mat-form-field>
      <div class="wrapper_leftside">
        <mat-form-field appearance="fill" class="inputFieldMed" style="width: 35%;">
        <mat-label>
          Hora
        </mat-label>
        <input formControlName= "horas" id="horas" name="myName" ng-model="myName" required matInput type="time"
          value=`${data.mission.loadDate.getHours()}:${data.mission.loadDate.getMinutes()}`>
        <mat-error  *ngIf="horas?.hasError('required')" >necessario preencher</mat-error>
      </mat-form-field>
        <mat-radio-group style="width: 35%;" formControlName="acao">
          <mat-label class="radioLabel">Ação*</mat-label>
          <mat-radio-button value="Certificação" class="radios"aria-label="1">Certificação</mat-radio-button>
          <mat-radio-button value="Fiscalização" class="radios">Fiscalização</mat-radio-button>
        <!-- <mat-error *ngIf="acao?.hasError('required')">necessario escolher</mat-error> -->
        </mat-radio-group>
      </div>
    </div>
    <div class="wrapper_leftside">
      <mat-form-field appearance="fill" class="inputFieldMed" style="width: 50%;">
        <mat-label>Local</mat-label>
        <mat-select formControlName = 'local'>
          <mat-option  *ngFor="let food of local1" [value]="food.value"  required>
            {{food.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="local?.hasError('required')">necessario escolher</mat-error>
      </mat-form-field>
      <div>
        <mat-form-field *ngIf="localselecionado === 'Outros'" appearance="fill" class="inputFieldMed" style="width:97%;" >
          <mat-label>
            Local
          </mat-label>
          <input  formControlName = 'localOutros' type="text" name="numerodacoleta" required matInput
            placeholder="Novo Local">
        <mat-error *ngIf="localOutros?.hasError('required')">necesssario preencher</mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" class="button" type="reset" style="margin: 0px 15px 0px 15px;">Salva</button>
      </div>
    </div>
  </div>
</form>
        
       

      


         


        

                


                

                
               

               
                 
              
                
       

      


         


        

                


                

                
               

               
                 
              
                
