<table class="example-full-width" cellspacing="0">

  <tr>
    <td>

      <mat-label>DATA</mat-label>
      <br>
      <mat-form-field color="accent" appearance="fill">

        <input  matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2">
        </mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <br>

    </td>
  </tr>



  <mat-label >Ação</mat-label>

  <br>
  <br>
  <mat-radio-group  aria-label="Select an option">
    <mat-radio-button value="true">Inspeção</mat-radio-button>
    <mat-radio-button value="false">Fiscalização</mat-radio-button>

  </mat-radio-group>

</table>

<br>
<br>

<form class="example-form">
  <mat-form-field class="input.ng-valid" class="example-full-width" appearance="fill">
    <mat-label>Local</mat-label>
    <input name="myName" ng-model="myName" required matInput #message maxlength="256" placeholder="Digite a localidade">

    <mat-hint align="start"><strong></strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
  </mat-form-field>
</form>


<mat-form-field>
  <mat-label> Horas </mat-label>
  <input name="myName" ng-model="myName" required matInput type="time"
    value=`${data.mission.loadDate.getHours()}:${data.mission.loadDate.getMinutes()}`>
</mat-form-field>

<form class="example-form">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Numero da coleta</mat-label>
    <input type="number" name="numerodacoleta" ng-model="numerodacoleta" required matInput placeholder="Digite o numero da coleta ">
      
  

  </mat-form-field>

</form>


<section>
  <div class="example-button-row">

    <!-- <button type="submit"  mat-flat-button color="primary">Salva</button> -->


  </div>

</section>


<button type="reset" mat-flat-button color="primary">Salva</button>