<form [formGroup]="appForm" (ngSubmit)="onSubmit()" name="myForm" class="example-form">
  <div style="width: 100%;height:100%;display:flex;justify-content: center;">
    <div class="container_inputs_fields">
      <div  class="u" style="display: flex;align-items: center;justify-content: space-between;">
        <mat-form-field appearance="fill" style="width: 31%;" class="mat-form-field-fiscalizado">
          <mat-label>Escritório seccional </mat-label>
          <mat-select>
              <mat-option >
								1
              </mat-option>
              <mat-option >
								2
              </mat-option>
              <mat-option >
								3
              </mat-option>
          </mat-select>
        </mat-form-field>
        <div style="width: 95%;display: flex;align-items: center;justify-content: flex-end;">
          <mat-form-field appearance="fill" style="width: 47.5%;" class="mat-form-field-fiscalizado">
            <mat-label>Coordenadoria regional</mat-label>
            <mat-select>
              <mat-option >
								1
              </mat-option>
              <mat-option >
								2
              </mat-option>
              <mat-option >
								3
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 47.5%;" class="mat-form-field-fiscalizado">
            <mat-label>N Termo de Coleta</mat-label>
            <input type="text" matInput name="nomefantasia" formControlName="numerocoleta" autocomplete="off" required>
            <mat-error *ngIf="validar('numerocoleta')">Campo obrigatório</mat-error>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="u" style="display: flex;align-items: center;justify-content: space-between;">
        <mat-form-field appearance="fill" style="width: 31%;" class="mat-form-field-fiscalizado">
          <mat-label>CPF/CNPJ</mat-label>
          <input (blur)="onBlur2()" formControlName="cpf" type="text" autocomplete="off" matInput #postalCode
            maxlength="15">
          <mat-error *ngIf="cpf.invalid">{{getErrorcpf()}}</mat-error>
  
          <mat-hint></mat-hint>
        </mat-form-field>
        <div style="width: 95%;display: flex;align-items: center;justify-content: flex-end;">
          <mat-form-field appearance="fill" class="inputFieldMed mat-form-field-fiscalizado" style="width: 47.5%;">
            <mat-label>Nome do Produtor</mat-label>
            <input objectToSave.cep.invalid type="text" autocomplete="off" id="nomeprodutor" matInput placeholder=" "
              matInput name="nomeprodutor"  formControlName="nomeprodutor" required >
              <mat-error *ngIf="validar('nomeprodutor')">Campo obrigatório</mat-error>
            <mat-hint></mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill" class="inputFieldMed mat-form-field-fiscalizado" style="width: 47.5%;">
            <mat-label>Nome Fantasia</mat-label>
            <input type="text" matInput name="nomefantasia" autocomplete="off">
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="u" style="display: flex;align-items: center;justify-content: space-between;">
        <mat-form-field appearance="fill" class="inputFieldMin mat-form-field-fiscalizado" style="width: 31%;">
          <mat-label for="cep">CEP</mat-label>
          <input (blur)="onBlur()" formControlName="cep" type="text" class="form-control" id="cep" matInput maxlength="9"
            placeholder="Ex. 72620113" value="cep" name="cep" required>
            <mat-error *ngIf="validar('cep')">minimo de 8 caracteres</mat-error>
          <mat-icon matSuffix></mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
        <div style="width: 95%;display: flex;align-items: center;justify-content: flex-end;">
          <mat-form-field appearance="fill" class="inputFieldMed mat-form-field-fiscalizado" style="width: 40%;">
            <mat-label>Endereço</mat-label>
            <input formControlName="street" type="text" name="street" id="logradouro" matInput placeholder="Ex">
    
            <mat-hint></mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill" class="inputFieldMin mat-form-field-fiscalizado" style="width: 15%;">
            <mat-label>Número</mat-label>
            <input formControlName="" type="text" name="" id="" matInput placeholder="Ex.0000000">
    
            <mat-hint></mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill" class="inputFieldMin mat-form-field-fiscalizado" style="width: 40%;">
            <mat-label>Complemento</mat-label>
            <input id="complemento" matInput placeholder="Ex.casa">
    
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="u" style="display: flex;align-items: center;justify-content: space-between;">
        <mat-form-field appearance="fill" class="inputFieldMed mat-form-field-fiscalizado" style="width: 31%;">
          <mat-label>Bairro</mat-label>
          <input formControlName="bair" type="text" name="bair" id="Bairro" matInput placeholder="Ex.Gama">
  
          <mat-hint></mat-hint>
        </mat-form-field>
        <div style="width: 95%;display: flex;align-items: center;justify-content: flex-end;">
          <mat-form-field appearance="fill" class="inputFieldMed mat-form-field-disabled mat-form-field-fiscalizado" style="width: 40%;">
            <mat-label>Município</mat-label>
            <input formControlName="local" [disabled]="true" type="text" name="local" id="localidade" maxlength="200"
              matInput placeholder="Ex. California">
    
            <mat-hint></mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill" class="inputFieldMin mat-form-field-disabled mat-form-field-fiscalizado" style="width: 27.5%;">
            <mat-label>Estado</mat-label>
            <input formControlName="ufc" type="text" name="ufc" id="uf" matInput placeholder="Ex.QN"
              [(ngModel)]="client.uf">
    
            <mat-hint></mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill" class="inputFieldMed mat-form-field-fiscalizado" style="width: 27.5%;">
            <mat-label>Registro no Ima</mat-label>
            <input disabled type="text" name="" id="" maxlength="200" matInput placeholder="">
    
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="u" style="display: flex;align-items: center;justify-content: space-between;">
        <mat-form-field appearance="fill" class="inputFieldMed mat-form-field-fiscalizado" style="width: 31%;">
          <mat-label>Telefone</mat-label>
          <input formControlName="" type="text" name="" id="" matInput placeholder="Ex.0000000">
          <mat-hint></mat-hint>
        </mat-form-field>
        
      </div>
    </div>
  </div>
</form>
  <hr>
  <div class="alert alert-primary" role="alert" style="width: 100%; display: flex;align-items: center;justify-content: flex-end;">
    <button ale mat-flat-button color="primary" class="button"  (click)="storeClient()"  type="button" style="margin: 20px 0px;">Salvar</button>
  </div>
        