<form  [formGroup]="appForm" (ngSubmit)="onSubmit()" name="myForm" class="example-form">



  <table class="example-full-width" cellspacing="0">

    <tr>
      <td>
        <mat-form-field name="myForm" class="example-full-width" appearance="fill">
          <mat-label>Nome do Produtor</mat-label>
          <input  type="text" id="nomeprodutor" matInput name="nomeprodutor" ng-model="myName" required>
        </mat-form-field>

      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome Fantasia</mat-label>
          <input  type="text" matInput name="nomefantasia" ng-model="myName">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>CPF/CNPJ</mat-label>
          <input [formControl]="cpf"  type="number"  matInput #postalCode maxlength="14" >
          <mat-error *ngIf="cpf.invalid">{{getErrorcpf()}}</mat-error>
        </mat-form-field>

      </td> 
    </tr>
  </table>



  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label for="cep" class="control-label">CEP</mat-label>
          <input (blur)="onBlur()" formControlName="cep" type="number" class="form-control" id="cep"
            matInput maxlength="8" placeholder="Ex. 72620113" value="cep" name="cep" required>

        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Endereço</mat-label>
          <input formControlName="street" type="text" name="street" id="logradouro" matInput placeholder="Ex. San Francisco">
        </mat-form-field>
      </td>


      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Municipio</mat-label>
          <input formControlName="local" type="text" name="local" id="localidade" maxlength="200" matInput placeholder="Ex. California">
        </mat-form-field>
      </td>

    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Estado</mat-label>
          <input formControlName="ufc" type="text" name="ufc" id="uf" matInput placeholder="Ex.QN">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Numero do Endereço</mat-label>
          <input formControlName="" type="text" name="" id="" matInput placeholder="Ex.0000000">
        </mat-form-field>
      </td>

    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Complemento do Endereço</mat-label>
          <input id="complemento" matInput placeholder="Ex.casa">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Bairro</mat-label>
          <input formControlName="bair" type="text" name="bair" id="Bairro" matInput placeholder="Ex.Gama">
        </mat-form-field>
      </td>

    </tr>
  </table>

  <button mat-flat-button color="primary" class="button" type="reset">Salva</button>
</form>
<section>
  <div class="example-button-row">

   

    <!-- <button mat-flat-button color="primary" class="button" type="reset">Salva</button> -->


  </div>


</section>