.toolbar{
  color: d55Color;
  display: flex;
  justify-content: center;
}

section{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .main{
  width: 95%;
}


section .header{
  width: 95%;
}

header{
	height:calc(100vh - 70vh);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header div {
  display: flex;
  align-items: center ;
  justify-content: space-between;
  width: 100%;
}

main mat-drawer-container{
  width: 100%;
}

.input_header {
  text-align: end;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  :root {
    --primary: #369c38;
    --secondary: #132A13;
    --padding: 15px;
    --cinza : #405040;
    --cinza-claro: #dedede;
  }

  .candy-app-theme {
    
  --primary: rgb(255, 136, 0);
  --accent: #dedede;
  --warn: bisque;
  
  }

.toolbar-flex{
  display: flex;
  justify-content: space-between;
  }
.read {
  border: none;
  width: 20px !important;
  margin-left: 5px;
}
.right{
  width: 77.5% !important;
}


div.input {
  width: 170px;
  height: 20px;
  border: 0.3px solid rgb(178, 197, 240);
  justify-content: right;
}

 
.example-sidenav {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center ;
  justify-content: center;
  flex-direction: column;
 
}

.example-sidenav-content {
  width: 100%;
  height: 100%;
}
.example-container{
  width: 100%;
  height: 100%;
}
p{
  font-size: 20px;
  font-weight: 600;
}
.wrapper_content_sidenav{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}

.example-sidenav-content-pesquisar{
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main{
	height:calc(100vh - 30vh);
}

.normal_tab{
	font-size: 18px;
	margin: 10px 0px;
	padding: 10px;
	border: 1px solid #d3d3d3;
	border-radius: 10px;
	cursor: pointer;
}

@media (max-width: 1000px) {
	header{
		height:calc(100vh - 80vh);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
