<mat-tab-group>
	<mat-tab label="Registro de Amostra">
		<div class="wrapper_tab_content ">
			<div class="container">
				<span class="title_input">Pesquisar por*</span>
				<mat-radio-group aria-label=Select color="primary" [(ngModel)]="tipoPesquisa">
					<mat-radio-button value="Conforme" class="radio" [checked]="true" >N° do Lacre</mat-radio-button>
					<mat-radio-button value="Não Conforme" class="radio" >Termo de Coleta</mat-radio-button>
				</mat-radio-group>
				<div style="display: flex;align-items:center ;">
					<mat-form-field appearance="fill" style="width: 30%;" class="mat-form-field-fiscalizado">
						<mat-label>Pesquisar</mat-label>
						<input type="text" matInput name="nomefantasia" autocomplete="off" required [(ngModel)]="numero">
						<mat-hint></mat-hint>
					</mat-form-field>
          <button mat-flat-button color="primary" class="button" (click)="pesquisar()">Pesquisar</button>
				</div>
				<span class="title_input">Dados da Coleta</span>
				<div style="width: 60%;">
					<mat-form-field appearance="fill" style="width:30%;margin: 15px;" >
						<mat-label>Data*</mat-label>
						<input matInput disabled="" [value]="data">
					</mat-form-field>
					<mat-form-field appearance="fill" class="inputFieldMed" style="width:30%">
						<mat-label>
							Hora*
						</mat-label>
						<input  id="horas" name="myName" matInput 	[value]="hora" disabled="">
					</mat-form-field>
				</div>
				<div class="table">
					<div style="display: flex;align-items: center;justify-content: space-between;"  *ngFor="let dado of dados">
						<div style="width: 100%;"> 
							<mat-form-field appearance="fill" style="width: 100%;" class="mat-form-field-fiscalizado">
								<mat-label>Cultura</mat-label>
									<input type="text" matInput name="nomefantasia" autocomplete="off" disabled  [value]="dado.idCultura">
							</mat-form-field>
							<div style="width: 70%;display: flex;align-items: center;justify-content: flex-start;">
								<mat-form-field appearance="fill" style="width: 15%;" class="mat-form-field-fiscalizado">
									<mat-label>Variedade</mat-label>
									<input type="text" matInput name="nomefantasia" disabled autocomplete="off"  [value]="dado.idVariedade">
								</mat-form-field>
								<mat-form-field appearance="fill" style="width: 30%;" class="mat-form-field-fiscalizado">
									<mat-label>Lacre(s)</mat-label>
									<div style="display: flex;align-items: center">
										<div *ngFor="let lacre of lacres, let i = index" >
											<input type="text" matInput name="nomefantasia"  disabled autocomplete="off" value="{{lacre}}" >
										</div>
									</div>
									<mat-hint></mat-hint>
								</mat-form-field>
								<mat-form-field appearance="fill" style="width: 20%;" class="mat-form-field-fiscalizado">
									<mat-label>Quantidade Recebida (Gramas)</mat-label>
									<input type="text" matInput name="nomefantasia" autocomplete="off"   [value]="" (change)="setGramas($event)">
								</mat-form-field>
								<mat-form-field appearance="fill" style="width: 20%;" class="mat-form-field-fiscalizado">
									<mat-label>Quantidade Recebida (Unidades)</mat-label>
									<input type="text" matInput name="nomefantasia" autocomplete="off" (change)="setUnidade($event)"  [value]="">
									<mat-hint></mat-hint>
								</mat-form-field>
						</div>

						</div>
					</div>
					<div  *ngIf="dados.length == 0"> 
						<mat-form-field appearance="fill" style="width: 100%;" class="mat-form-field-fiscalizado">
							<mat-label>Cultura</mat-label>
								<input type="text" matInput name="nomefantasia" autocomplete="off" disabled  >
						</mat-form-field>
						<div style="width: 70%;display: flex;align-items: center;justify-content: flex-start;">
							<mat-form-field appearance="fill" style="width: 15%;" class="mat-form-field-fiscalizado">
								<mat-label>Variedade</mat-label>
								<input type="text" matInput name="nomefantasia" disabled autocomplete="off"   >
							</mat-form-field>
							<mat-form-field appearance="fill" style="width: 15%;" class="mat-form-field-fiscalizado">
								<mat-label>Lacre(s)</mat-label>
								<input type="text" matInput name="nomefantasia"  disabled autocomplete="off"  >
								<mat-hint></mat-hint>
							</mat-form-field>
							<mat-form-field appearance="fill" style="width: 40%;" class="mat-form-field-fiscalizado">
								<mat-label>Quantidade Recebida (Gramas)</mat-label>
								<input type="text" matInput name="nomefantasia" autocomplete="off" disabled  >
							</mat-form-field>
							<mat-form-field appearance="fill" style="width: 40%;" class="mat-form-field-fiscalizado">
								<mat-label>Quantidade Recebida (Unidades)</mat-label>
								<input type="text" matInput name="nomefantasia" autocomplete="off"  disabled >
								<mat-hint></mat-hint>
							</mat-form-field>
					</div>

					</div>
				</div>
				<hr>
				<span class="title_input">Dados de Entrada no Laborátorio</span>
				<div style="width: 60%;">
					<mat-form-field appearance="fill" style="width:30%;margin: 15px;" >
						<mat-label >Data*</mat-label>
						<input matInput [matDatepicker]="picker2" >
						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2></mat-datepicker>
					</mat-form-field>
					<mat-form-field appearance="fill" class="inputFieldMed" style="width:30%">
						<mat-label>
							Hora*
						</mat-label>
						<input  id="horas" name="myName" matInput type="time"	value=`${data.mission.loadDate.getHours()}:${data.mission.loadDate.getMinutes()}`>
					</mat-form-field>
				</div>
				<hr>
				<span class="title_input">Análise Crítica</span>
				<mat-radio-group aria-label=Select [(ngModel)]="clickedButton" color="primary">
					<mat-radio-button value="Conforme" class="radio" >Conforme</mat-radio-button>
					<mat-radio-button value="Não Conforme" class="radio" >Não Conforme</mat-radio-button>
				</mat-radio-group>
				<section *ngIf="clickedButton == 'Conforme'">
					<hr>
					<span class="title_input">Grupos de Análise</span>
					<div class="wrapper_checks">
						<mat-checkbox class="checkbox">Inseticidas piretroides</mat-checkbox>
						<div class="wrapper_left_check">
							<mat-checkbox class="checkbox_left">Inseticidas organoclorados</mat-checkbox>
							<mat-checkbox class="checkbox_left">Inseticidas organofosforados</mat-checkbox>
						</div>
					</div>
					<div class="wrapper_checks">
						<mat-checkbox class="checkbox">Fungicidas ditiocarbamatos</mat-checkbox>
						<div class="wrapper_left_check">
							<mat-checkbox class="checkbox_left">Fungicidas triazóis</mat-checkbox>
							<mat-checkbox class="checkbox_left">Fungicidas dicarboximida</mat-checkbox>
							<mat-checkbox class="checkbox_left">Outros</mat-checkbox>
						</div>
					</div>
					<!-- <mat-form-field appearance="fill" style="width: 30%;" class="mat-form-field-fiscalizado">
						<mat-label>Observações</mat-label>
						<input type="text" matInput name="nomefantasia" autocomplete="off">
						<mat-hint></mat-hint>
					</mat-form-field> -->
				</section>
				<hr>
				<mat-form-field appearance="fill" style="width: 30%;" class="mat-form-field-fiscalizado">
					<mat-label>Observações</mat-label>
					<input type="text" matInput name="nomefantasia" autocomplete="off" [(ngModel)] = "model.dsObservacao">
					<mat-hint></mat-hint>
				</mat-form-field>
				<span class="title_input">Identificação do Analista</span>
				<mat-form-field appearance="fill" style="width: 30%;" class="mat-form-field-fiscalizado">
					<mat-label>Nome</mat-label>
					<input type="text" matInput name="nomefantasia" autocomplete="off"  [(ngModel)] = "model.nomeAnalista">
					<mat-hint></mat-hint>
				</mat-form-field>
				<div class="action">          
		  
				</div>
			</div>

			
		</div>
		<hr>
		<div style="width: 100%; display: flex;align-items: center;justify-content: flex-end;">
			<button mat-flat-button color="primary" class="button" (click)="finalize()">Finalizar</button>
		  </div>	  
	</mat-tab>
</mat-tab-group>

